<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Envio de email</title>
</head>

<body>
	<img src="../assets/dm11.png" alt="Logo DM11">
	<p style="">
		Você está recebendo este email referente a sua solicitação de esquecimento de senha.
		<a href="localhost:3000/{{email}}/{{_protocol}}"></a>
		Por favor clique aqui para alterar a senha
	</p>
</body>

</html>